<div id="welcome"><h1>Welcome to Traffic Spy</h1></div>
<div id="most_visited_urls">
  <ol>
    <% @most_visited_urls.each do |url| %>
      <li><%= url.first %></li>
      <li><a href="/sources/<%= @source.identifier %>/urls<%= URI(url.first).path %>"><%= url.first %></a></li>
    <% end %>
  </ol>
</div>
<div id="average_response_times">
  <ol>
    <% @average_response_times.each do |url, time| %>
      <li><%= url %>, <%= time.to_i %></li>
    <% end %>
  </ol>
</div>
