<h1>URL Statistics for <%= @path %></h1>

<div id="longest_response">
  <h3>Longest Response Time: <%= @longest_response %></h3>
</div>

<div id="shortest_response">
  <h3>Shortest Response Time: <%= @shortest_response %></h3>
</div>

<div id="average_response">
  <h3>Average Response Time: <%= @average_response.to_i %></h3>
</div>

<%= partial :'partials/verb' %>

<%= partial :'partials/referrer' %>

<%= partial :'partials/top_browser' %>

<%= partial :'partials/top_os' %>

